.movies {
  background-color: #FAFAFA;
  margin: auto;
  padding: 0px 70px;
}

@media screen and (max-width: 800px) {
  .movies {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 400px) {
  .movies {
    padding: 0px 10px;
  }
}
