.movies-card__img {
  object-fit: cover;
  width: 100%;
  max-height: 165px;
  height: 100%;
  cursor: pointer;
  transition: .3s;
}

.movies-card__img:hover {
  opacity: .8;
}

.movies-card__container {
  display: flex;
  justify-content: space-between;
  padding: 14px 0px 29px;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.movies-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}

.movies-card__button {
  background: no-repeat center;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.movies-card__button_like-disable {
  background: url('../../../images/btn__like_disabled.svg');
}

.movies-card__button_like-active {
  background-image: url('../../../images/btn__like_active.svg');
}

.movies-card__button-delete {
  background-image: url('../../../images/btn__delete.svg');
}

.movies-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #A0A0A0;
  margin: 6px 0px 10px;
}

