.portfolio__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #A0A0A0;
  mix-blend-mode: normal;
  margin-bottom: 50px;
}

.portfolio__list {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 167%;
  letter-spacing: -0.04em;
  list-style: none;
  padding-left: 0;
  margin-bottom: 125px;
}

.portfolio__element {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;

}

.portfolio__element-link {
  margin: 0;
  padding-bottom: 19px;
  text-decoration: none;
  color: #000000;
  background-image: url('../../../images/linkIcon.svg');
  background-repeat: no-repeat;
  background-position: 100%;
  width: 100%;
  transition: .3s;
}

.portfolio__element-link:hover {
  opacity: .8;
}

@media screen and (max-width: 500px) {
  .portfolio__list {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__element-link {
    background-size: 18px;
    background-position: 100% 20%;
  }
}
