.promo__title {
  background: #DDDEE3;
  min-height: 524px;
  background-image: url('../../../images/Promo_background.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  align-items: center;
}

.promo__title-text {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  text-align: center;
  max-width: 730px;
  margin: auto;
}


